header{
    width: 950px;
    height: 25px;
    background-color: gray;
    color: white;
    padding: 20px;
}
.slider{
    width: 950px;
    height: 250px;
    background-color: orange;
    padding: 20px;
}